<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="springbeans-scopes-address.xml" />

	<bean id="person" class="jbr.springbeans.model.Person"><!-- scope="prototype" -->
		<property name="name" ref="name" />
		<property name="height" value="6ft" />
		<property name="weight" value="50kg" />
		<property name="address" ref="address" />
	</bean>

	<bean id="name" class="jbr.springbeans.model.Name">
		<constructor-arg name="firstName" value="Sachin" />
		<constructor-arg name="middleName" value="Ramesh" />
		<constructor-arg name="lastName" value="Tendulkar" />
	</bean>
</beans>
