<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="train" class="jbr.springbeans.model.Train" init-method="init">
		<constructor-arg name="trainName" value="Mumbai Express" />
	</bean>

	<bean id="cycle" class="jbr.springbeans.model.Cycle" init-method="init">
		<constructor-arg name="cycleModel" value="Two Wheeler"></constructor-arg>
	</bean>
</beans>
