<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="address" class="jbr.springbeans.model.Address">
		<property name="doorNo" value="33" />
		<property name="street" value="Gandhi Street" />
		<property name="city" value="Chennai" />
		<property name="country" value="india" />
	</bean>

</beans>
