<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="jbr.spring.core" />

	<bean id="car" class="jbr.spring.core.model.Car">
		<property name="price" value="100000" />
		<property name="color" value="blue" />
		<property name="engine" ref="engine" />
	</bean>

	<bean id="engine" class="jbr.spring.core.model.Engine">
		<constructor-arg name="capacity" value="100CC"></constructor-arg>
		<constructor-arg name="type" value="Petrol"></constructor-arg>
	</bean>

	<bean id="person" class="jbr.spring.core.model.Person" scope="prototype" />

	<bean id="collection" class="jbr.spring.core.model.CollectionBean">
		<property name="list">
			<list>
				<value>Tamilnadu</value>
				<value>Andra</value>
				<value>Telgana</value>
				<value>Kerala</value>
				<value>Karnataka</value>
			</list>
		</property>

		<property name="map">
			<map>
				<entry key="firstname" value="Ranjith" />
				<entry key="lastname" value="Sekar" />
			</map>
		</property>

		<property name="set">
			<set>
				<value>Monday</value>
				<value>Tuesday</value>
				<value>Wednesday</value>
				<value>Thursday</value>
				<value>Friday</value>
			</set>
		</property>

		<property name="props">
			<props>
				<prop key="Tamilnadu">Tamil</prop>
				<prop key="Andra">Telugu</prop>
				<prop key="Delhi">Hindi</prop>
			</props>
		</property>
	</bean>
</beans>
