<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="person" class="com.jbr.springcore.beanscopes.Person" scope="prototype"> 
		<bean id="person" class="com.jbr.springcore.beanscopes.Person" scope="singleton"> -->
	<bean id="person" class="jbr.springbeans.scopes.Person" scope="singleton">
		<property name="height" value="6ft" />
		<property name="weight" value="50kg" />
	</bean>

</beans>
